.gradientcolortext{
    background: linear-gradient(90.5deg, #0F62FF 8.62%, #6B5BD2 102.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: max-content;
}
.section-container{
   padding-top: 30px;
}
.textContainer{
    display: flex;
    flex-direction: row;
    gap:4px;
    align-items: center;
}
.textContainer .circleIcon{
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.btnactive{
    text-decoration: none;
    border: 1px solid #0F62FF;
    background-color: #F8F9FF;
}